.page-content{
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.page-coloring{
    background-color: #409df3;
}

.font-sizer{
    font-size: 12px;
    text-align: left;
}

.font-styling{
    font-family: Montserrat, sans-serif;
}

.favorite-color{
    color: lightseagreen;
}

.img-controller{
    height: 200px;
    float: left;
    margin-right: 11px;
}

#experience-list ul{
    list-style-type: disc;
}

#skills-list ul > li{
    color: #409df3;
}

.nav{
    list-style-type: none;
    display: inline-flex;
    margin: 10px;
    font-size: 1.2em;

}
