@font-face {
    font-family: "Chalky Regular";
    src: url("fonts/Chalky.otf") format("opentype");
}
@font-face {
    font-family: "Cortado Regular";
    src: url("fonts/cortado.otf") format("opentype");
}

/*--------------page containers----------------*/
*{
    margin: 0;
}
body{
    height: 100vh;
    overflow: hidden;
    display: block;
    background: url("images/game/background.svg") center / cover no-repeat;
}

.container{
    height: 100vh;
    width: 100vw;
}

header{
    position: relative;
    margin: 0;
    /*background-color: #5e5e5e;*/
    height: 20vh;
    width: 100%;
}

#main{
    position: relative;
    margin: auto;
    /*height: 100%;*/
    /*width: 100%;*/
    display: flex;
    max-width: 1320px;
    /*background-color: #bce8f1;*/
}

/*--------------------header containers-------------------*/
.title{
    position: absolute;
    margin: 0;
    /*display: inline-block;*/
    /*text-align: center;*/
    font-family: cortado, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5em;
    color: #eadce2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px #2a282b, 2px 2px #2f2d30, 3px 3px #3c393d;
}

/*.logo{*/
    /*position: absolute;*/
    /*margin: 0;*/
    /*top: 50%;*/
    /*left: 10px;*/
    /*transform: translate(0, -50%);*/
    /*height: 80px;*/
    /*width: 80px;*/
    /*background-color: #ffffff;*/
/*}*/

.settings{
    position: absolute;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    top: 100%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    height: 20px;
    width: 20%;
    font-family: cortado, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3em;
    /*background-color: #ffffff;*/
}

/*----------------stats container-----------------*/
#stats{
    position: relative;
    float: left;
    display: block;
    width: 20%;
    /*background-color: #1b6d85;*/
}

.chalk-holder{
    position: absolute;
    display: block;
    width: 100%;
    height: 87%;
    background-image: url("images/game/ChalkBoard.svg");
    background-repeat: no-repeat;
    background-size: 144% 100%;
    background-position: 50% 10%;
    /*background-color: black;*/
}

.games-played,
.attempts,
.accuracy{
    position: absolute;
    display: inline-block;
    top: 17%;
    left: 50%;
    width: 50%;
    height: 7%;
    transform: translate(-50%, 0);
}

.label, .value{
    position: relative;
    text-align: center;
    font-family: chalky, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7em;
    color: #fffff0;
}

.value{
    font-size: 3.5em;
    width: 100%;
    height: 175%;
    top: -24%;
}


.attempts{
    top: 40%;
}

.accuracy{
    top: 64%;
}

/*-----------game container---------------------*/

#game-area{
    position: relative;
    float: left;
    margin: 0;
    height: 100%;
    width: 60%;
    /*background-color: #ac2925;*/
}

.game-aspect{
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    top: 1.5%;
    left: 50%;
    transform: translate(-50%, 0);
    /*background-color: #2fb050;*/
}
.game-board{
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    top: 0; left: 0; right: 0; bottom: 0;
}
.card{
    position: relative;
    display: inline-block;
    margin: 1%;
    height: 18%;
    width: 13%;
}

.back, .front{
    position: absolute;
    height: 100%;
    -webkit-user-drag: none;
    user-select: none;
}

.reveal{
    display: none;
}

/*----------- game container ------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: absolute;
    background-color: #fefefe;
    padding: 20px;
    top: 50%;
    left: 50%;
    border: 1px solid #888;
    width: 62%;
    transform: translate(-50%, -50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button.reset {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 17%;
    height: 16%;
}

